@tailwind base;
@tailwind components;
@tailwind utilities;

$sizes: 10;
$margin_val: 4;

body {
  @apply overflow-hidden;
  font-family: 'Roboto', sans-serif;
}

.stack {
  &__horizontal {
    @apply flex;

    @for $i from 1 through $sizes {
      &.stack__space--#{$i} * + * {
        @if $i == 1 {
          margin-inline-start: calc(1px * calc(1 - 0));
        } @else {
          margin-inline-start: #{($i / $margin_val)}rem;
        }
      }
    }
  }

  &__vertical {
    @apply block;

    @for $i from 1 through $sizes {
      &.stack__space--#{$i} * + * {
        @if $i == 1 {
          margin-block-start: calc(1px * calc(1 - 0));
        } @else {
          margin-block-start: #{($i / $margin_val)}rem;
        }
      }
    }
  }
}
